# VSCode
**/.vscode/
**/.vs/

# Package files
**/package-lock.json

# Non-npm lockfiles
**/pnpm-lock.yaml
**/yarn.lock
**/deno.lock
**/bun.lockb
**/bun.lock

# Dependencies
**/node_modules/
!Plugins/Discord/
!Plugins/Discord/com.mirabox.streamdock.discord.sdPlugin/
!Plugins/Discord/com.mirabox.streamdock.discord.sdPlugin/plugin/
!Plugins/Discord/com.mirabox.streamdock.discord.sdPlugin/plugin/node_modules/
!Plugins/Discord/com.mirabox.streamdock.discord.sdPlugin/plugin/node_modules/discord-rpc/
!Plugins/Discord/com.mirabox.streamdock.discord.sdPlugin/plugin/node_modules/discord-rpc/** 

# Build outputs
**/build/
**/dist/
**/*.build/
**/out/


**/log/

**/.gitignore
**/log.txt